/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Import */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* Variables */

:root {
  /* Fuentes */
  --font-body: 'Cabin', sans-serif;
  /* Colores */
  --goldenorange: #d8900a;
  --purewhite: #ffffff;
  --rosepink: #cf66a3;
  --indigoblue: #364dad;
  --coalgrey: #333333;
}

/* Estilos */
body {
  background-color: var(--softwhite);
  color: var(--purewhite);
  font-family: var(--font-body);
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--purewhite);
}

h3 {
  font-size: 16px;
}

/* Sección Nav */

#nav {
  width: 100%;
  height: 10vh;
  background-color: var(--indigoblue);
  padding: 1vh 5vw;
}

.nav-logo {
  height: 100%;
  width: auto;
}

/* Sección Hero */

#hero {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.hero-blur {
  background: url(./img/Fondo_Web3.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(50%);
}

.hero-container {
  position: relative;
  color: var(--softwhite);
}

.cta-btn {
  background-color: var(--goldenorange);
  color: var(--purewhite);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #e58e00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 0 8px rgba(255, 255, 100, 0.4),
    0 0 15px rgba(255, 255, 150, 0.2);
}

/* Sección Detalles */

#detalles {
  padding: 8vh 8vw;
  background-color: var(--indigoblue);

  display: flex;
  flex-direction: column;
}

.detalles-imagen {
  width: 100%;
  margin: 0vh 0 3vh;
}

.detalles-texto {
  display: flex;
  flex-direction: column;
}

.detalles-patrocinador {
  width: 50%;
  align-self: center;
}

/* Sección Mapa */

#mapa {
  padding: 8vh 8vw;
}

#mapa h2 {
  color: var(--coalgrey);
  text-align: center;
  font-size: 32px;
}

/* Sección Formulario */

#formulario {
  background-color: var(--indigoblue);
  padding: 8vh 8vw;
}

#formulario h2 {
  text-align: center;
  font-size: 32px;
}

/* Sección FAQ */
#faq {
  padding: 8vh 8vw;
  text-align: center;
  background-color: var(--indigoblue);
  color: var(--purewhite);
}

#faq h2 {
  font-size: 32px;
}

.accordion-button:focus {
  box-shadow: 0 0 0 3px rgba(207, 102, 163, 0.4);
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--rosepink);
  color: var(--softwhite);
  border-color: var(--coalgrey);
  outline: none;
}

.accordion-button.collapsed {
  background-color: var(--softwhite);
  color: var(--coalgrey);
}

.accordion-body {
  background-color: var(--softwhite);
  color: var(--coalgrey);
  text-align: left;
}
/* Sección Patrocinadores */

#patrocinadores {
  background-color: var(--purewhite);
  padding: 8vh 8vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#patrocinadores h2 {
  color: var(--coalgrey);
  font-size: 32px;
}

.swiper {
  width: 100%;
  height: auto;
  display: flex;
  --swiper-navigation-size: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--rosepink);
}

.patrocinadores-logo {
  width: 50%;
  height: 100%;
}
/* Sección Footer */

#footer {
  background-color: var(--indigoblue);
  color: var(--softwhite);
  text-align: center;
  padding: 8vh 8vw;
  display: flex;
  flex-direction: column;
}

.footer-social h4 {
  font-size: 18px;
  color: var(--softwhite);
}

.footer-social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social-links a {
  color: var(--softwhite);
  font-size: 24px;
  text-decoration: none;
}

.footer-social-links a:hover {
  color: var(--rosepink);
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: var(--rosepink);
  margin: 3vh 0;
}

#footer h5 {
  font-size: 10px;
  color: var(--gentlegrey);
}

/* Botón de Registro */
/* .btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--goldenorange);
  border-radius: 5px;
  color: var(--softwhite);
  text-decoration: none;
  cursor: pointer;

  padding: 0.5rem 0.5rem;
  display: none;
  z-index: 9999;
  transition: all 0.3s ease;
}

.btn-flotante.show {
  display: inline-block;
}

.btn-flotante i {
  margin-right: 0.5vw;
}

.btn-flotante:hover {
  background-color: #e58e00;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15), 0 0 8px rgba(255, 255, 100, 0.4),
    0 0 15px rgba(255, 255, 150, 0.2);
} */

/* Responsividad */

@media (min-width: 500px) and (orientation: landscape) {
  #nav {
    height: 10vh;
  }

  #detalles {
    display: block;
  }

  #detalles::after {
    content: '';
    display: block;
    clear: both;
  }

  .detalles-imagen {
    float: right;
    width: 40%;
    margin: 50px;
  }

  .detalles-patrocinador {
    width: 40%;
    align-self: center;
  }

  #footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
  }

  .footer-social-links a {
    font-size: 24px;
    margin: 0 10px;
  }

  .divider-line {
    display: none;
  }
}
