/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  /* Fuentes */
  --font-body: sans-serif;
  /* Colores */
  --charcoal: #1e1e1e;
  --softwhite: #fafaf8;
  --warmbeige: #f3ede3;
  --gentlegrey: #4b4b4b;
  --dustybronze: #a68a64;
}

/* Styles */

body {
  background-color: var(--softwhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav {
  background-color: var(--charcoal);
  height: 8vh;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1vh 3vw;
}

.nav-logo {
  height: 90%;
}

#hero {
  position: relative;
  height: 92vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-blur {
  background: url(./img/hero.jpg), no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: brightness(40%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero-container {
  position: relative;
  font-size: 48px;
  font-family: var(--font-body);
  color: var(--softwhite);
}

h1 {
  font-size: 56px;
}

p {
  font-size: 14px;
  width: 50%;
}

.cta-btn {
  background-color: var(--dustybronze);
  width: 8vw;
  color: var(--softwhite);
}

#detalles {
  background-color: var(--warmbeige);
  height: auto;
  width: auto;
  margin: 5vh 0 5vh 0;
  display: flex;
  color: var(--gentlegrey);
  padding: 5vh 5vw;
}

.detalles-texto {
  font-family: var(--font-body);
}

h2 {
  font-size: 48px;
  color: var(--gentlegrey);
}

h3 {
  font-size: 20px;
  margin: 10px 0;
}

.detalles-texto p {
  font-size: 18px;
  margin: 10px 0;
  width: 90%;
}

#mapa {
  padding: 5vh 5vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.mapa-overlay {
  background: transparent;
  position: absolute;
  width: 90%;
  height: 580px; /* your iframe height */
  top: 580px; /* your iframe height */
  margin-top: -580px; /* your iframe height */
}

#formulario {
  background-color: var(--warmbeige);
  display: flex;
  padding: 5vh 5vw;
}

#faq {
  text-align: center;
  padding: 5vh 5vw;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(166, 138, 100, 0.5);
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dustybronze);
  color: var(--softwhite);
  border-color: var(--charcoal);
  outline: none;
}

.accordion-button.collapsed {
  background-color: var(--softwhite); /* default Bootstrap light gray */
  color: var(--gentlegrey); /* default dark text */
}

.accordion-body {
  background-color: var(--softwhite);
  color: var(--gentlegrey);
  text-align: left;
}

#patrocinadores {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5vh 5vw;
  background-color: var(--warmbeige);
}

.patrocinadores-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.patrocinadores-logo {
  height: auto;
  width: 15%;
  margin: 10vh 0;
}

#footer {
  width: 100%;
  height: 15vh;
  background-color: var(--charcoal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 5vw;
}

#footer h4 {
  color: var(--softwhite);
  font-family: var(--font-body);
  font-size: 16px;
}

.footer-social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-links a {
  text-decoration: none;
  color: var(--softwhite);
  font-size: 18px;
}

.footer-social-links a:hover {
  color: var(--dustybronze);
}
