/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */

:root {
  /* Fuentes */
  --font-body: sans-serif;
  /* Colores */
  --charcoal: #1e1e1e;
  --softwhite: #fafaf8;
  --warmbeige: #f3ede3;
  --gentlegrey: #4b4b4b;
  --dustybronze: #a68a64;
}

/* Estilos */
body {
  background-color: var(--softwhite);
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: var(--charcoal);
}

h3 {
  font-size: 16px;
}

/* Sección Nav */

#nav {
  width: 100vw;
  height: 10vh;
  background-color: var(--charcoal);
  padding: 1vh 2vw;
}

.nav-logo {
  height: 100%;
  width: auto;
}

/* Sección Hero */

#hero {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5vw;
}

.hero-blur {
  background: url(./img/hero.jpg), no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: brightness(50%);
}

.hero-container {
  position: relative;
  color: var(--softwhite);
}

.cta-btn {
  background-color: var(--dustybronze);
  color: var(--softwhite);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.cta-btn:hover {
  background-color: var(--warmbeige);
  color: var(--gentlegrey);
}

/* Sección Detalles */

#detalles {
  padding: 5vh 5vw;
  background-color: var(--warmbeige);

  display: flex;
  flex-direction: column;
}

.detalles-imagen-foto {
  width: 100%;
  margin: 0vh 0 3vh;
}

/* Sección Mapa */

#mapa {
  padding: 5vh 5vw;
}

.mapa-overlay {
  display: none;
}

/* Sección Formulario */

#formulario {
  background-color: var(--warmbeige);
  padding: 5vh 5vw;
}

/* Sección FAQ */
#faq {
  padding: 5vh 5vw;
  text-align: center;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(166, 138, 100, 0.5);
  outline: none;
}

.accordion-button:not(.collapsed) {
  background-color: var(--dustybronze);
  color: var(--softwhite);
  border-color: var(--charcoal);
  outline: none;
}

.accordion-button.collapsed {
  background-color: var(--softwhite);
  color: var(--gentlegrey);
}

.accordion-body {
  background-color: var(--softwhite);
  color: var(--gentlegrey);
  text-align: left;
}
/* Sección Patrocinadores */

#patrocinadores {
  background-color: var(--warmbeige);
  padding: 5vh 5vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
  width: 100%;
  height: auto;
  display: flex;
  --swiper-navigation-size: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--dustybronze);
}

.patrocinadores-logo {
  width: 50%;
  height: auto;
}
/* Sección Footer */

#footer {
  background-color: var(--charcoal);
  color: var(--softwhite);
  text-align: center;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
}

.footer-social h4 {
  font-size: 18px;
  color: var(--softwhite);
}

.footer-social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-social-links a {
  color: var(--softwhite);
  font-size: 24px;
  text-decoration: none;
}

.footer-social-links a:hover {
  color: var(--dustybronze);
}

.divider-line {
  width: 100%;
  height: 1px;
  background-color: var(--dustybronze);
  margin: 3vh 0;
}

#footer h5 {
  font-size: 10px;
  color: var(--gentlegrey);
}

/* Botón de Registro */
.btn-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--dustybronze);
  border-radius: 5px;
  color: var(--softwhite);
  text-decoration: none;

  padding: 0.5rem 0.5rem;
  display: none;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.btn-flotante.show {
  display: inline-block;
}

.btn-flotante i {
  margin-right: 0.5vw;
}
